@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular") url(/fonts/opensans.woff2) format(woff2) url(/fonts/opensans.woff) format(woff);
}