.mobile-non-table {
  display: none;
}

.tablet-non {
  display: none;
}

.tablet-no {
  display: block;
}

.desktop-non {
  display: none;
}

.mobile-non {
  display: none;
}

@media (min-width: $tablet-width) {
  .mobile-non-table {
    display: table-cell;
  }
  
  .mobile-only {
    display: none;
  }

  .tablet-no {
        display: none;
  }

  .desktop-non {
    display: none;
  }

  .mobile-non {
    display: inline-block;
  }
}
  
@media (min-width: $desktop-width) {

  .tablet-non {
        display: block;
  }

  .desktop-non {
    display: none;
  }
}