.copyright {
  display: block;
  line-height: 18px;
  color: $blue;

  text-decoration: none;
  fill: $pink;

  :active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  :hover {
    fill: $blue;
  }

  :active {
    fill: $logoactive;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    width: 150px;
    margin-top: 9px;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    font-size: 18px;
    padding-left: 0;
  }
}