.form__apps {
    background-color: $greylight;
}

.form-apps__list {
    margin-top: 40px;
    padding-left: 90px;
    font-size: 18px;
    line-height: 30px;
}

.form-apps__item {
    margin-bottom: 45px;
  }
  
legend {
    background-color: $greylight;
  }

@media (min-width: $tablet-width) {
    .form__apps {
        background-color: $white;
    }

    legend {
        background-color: $white;
      }
}

@media (min-width: $desktop-width) {
    .form__apps {
        width: 375px;
        height: 300px;

        order: 2;
    }
  }