.form {
  width: 320px;
  margin: 0 auto;
    
    span {
      display: block;
    }
}

.form__competition {
  input {
    font: inherit;
    border: 2px solid;
    border-color: $grey;
  }
  input::-webkit-input-placeholder {
   color: $blue;
  }

  input::-moz-placeholder {
   color: $blue;
  }

  ul {
    list-style: none;
  }

  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }
}

.form__header {
  color: $blue;

  line-height: 30px;
}

.form__back-greylight {
  background-color: $greylight;
}

p {
  margin: 0;
}

.form__label-name {
  text-transform: uppercase;
  color: $pink;

  line-height: 30px;
}

.form__input-content {
  font: inherit;

  font-size: 18px;
  line-height: 30px;

  color: $blue;
}

.form__legend-competition {
  text-transform: uppercase;
  color: $pink;

  line-height: 18px;
}

.form__button {
  color: $white;
  background-color: $green;

  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.form-page__legend {
  color: $blue;
  line-height: 30px;
  text-transform: uppercase;
}

.main__header {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .form {
    width: 620px;
    margin: 0 auto;
  }

  .main__header
  {
    width: 620px;
    margin: 0 auto;
  }

  .form__competition {
    fieldset {
      border: 2px solid $grey;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 940px;
    margin: 0 auto;
  }

  .form__competition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__button {
    order: 6;
  }

  .main__header
  {
    width: 940px;
    margin: 0 auto;
  }
}