.main-nav {
  padding: 0;
  margin: 0;
    a {
      color: $white;
      text-decoration: none;
    }
}

.main-nav__list {
  text-transform: uppercase;
  list-style: none;
  padding: 0;
}

.main-nav__item {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
