.modal-sent {
  background-color: $greylight;
}

.modal-sent__wrapper {
  background-color: $white;
}

.modal__info {
  color: $blue;
}

.modal__header {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}