.modal {
  width: 280px;
  background-color: $white;

  text-align: center;

  padding-top: 40px;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);

  display: none;
}

.modal--open {
  display: block;
}

.page-form {
  position: relative;
}

.modal__info {
  color: $blue;
  margin-bottom: 30px;
}

.modal__header {
  font-weight: 700;
  font-size: 18px;
  margin: 0;

  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 460px;
  }

  .modal__header{
    font-size: 30px;
    color: $blue;
   
    line-height: 40px;

    width: 230px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .modal__info {
    font-size: 18px;
    line-height: 24px;
    width: 310px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 780px;
  }

  .modal__info {
    width: 380px;
  }

  .modal__header{
    width: 400px;
  }
}