.page-photo__upload {
  width: 320px;
  margin: 0 auto;
  
  text-align: center;
}

.photo-upload__header {
  color: $blue;

  line-height: 30px;
  text-align: center;

  margin-top: 48px;
  margin-bottom: 46px;
}

.photo-upload__form {
  background-color: $greylight;
  padding-top: 20px;
  padding-bottom: 40px;
}

.photo-upload__edit {
  border: 0;
  padding: 0;
  margin: 0;
}

.edit__range {

  &--hidden {
    display: none;
  }
}

.photo-upload__button {
  background-color: transparent;
  border: 3px solid $pink;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  color: $pink;

  &--disable {
    border: 3px solid $blue;
    color: $blue;
    opacity: 0.1;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
  }
}

@media (min-width: $tablet-width) {
  .page-photo__upload {
    width: 620px;
    margin: 0 auto;
  }

  .photo-upload__header {
    font-size: 18px;
    line-height: 30px;
  
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .edit__range {

    &--hidden {
      display: inline-block;
    }
  }
  
  .photo-upload__form {
    padding-top: 57px;
    padding-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo__upload {
    width: 940px;
    margin: 0 auto;
  }

  .photo-upload__header {
    line-height: 30px;
  
    margin-top: 14px;
    margin-bottom: 68px;
  }
  
  .photo-upload__form {
    padding-top: 55px;
    padding-bottom: 57px;
  }
}