.page-photo__header {
  color: $blue;

  width: 320px;
  margin: 0 auto;

  margin-top: 50px;
  margin-bottom: 53px;

  line-height: 30px;
  text-align: center;
}

.user-photo__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.panorama__wrapper {
  margin: 0 auto;
  margin-top: -7px;
  margin-bottom: 20px;

  background-color: $greylight;

  width: 280px;
}

.user-photo__item {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
  height: auto;

  background-color: $greylight;

  color: $blue;

  a {
    text-decoration: none;
  }

}

.user-photo__item-wrapper {
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.user-photo__item-panorama {
  margin: 0;
  margin-bottom: 20px;
}

.user-photo__image--panorama {
  width: 100%;
  height: auto;
}

.user-photo__name {
  font-weight: 700;
  font-style: normal;
}

.user-photo__time {
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
}

.user-photo__like {
  font-size: 12px;
  color: $pink;
  text-transform: uppercase;

  background-color: transparent;

  cursor: pointer;

  padding: 0;
  padding-left: 32px;
  margin-top: 15px;

  position: relative;
}

.user-photo__like::before {
  position: absolute;

  content: '';
  width: 13px;
  height: 12px;
  top: 5px;
  left: 0;

  background-image: url('/img/icon-heart.svg');
  background-repeat: no-repeat;
}

.user-photo__panorama {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;


  color: $white;
  background-color: $pink;

  font-weight: 700;
  font-size: 12px;

  width: 101px;
  height: 31px;
  padding-top: 4px;
  padding-left: 23px;
  padding-right: 23px;
}

@media (min-width: $tablet-width) {
  .user-photo__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .panorama__wrapper {
    width: 620px;
    margin: 0 auto;
    margin-top: -7px;
  }

  .user-photo__item-wrapper {
    padding-left: 28px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 105px;

    &--panorama {
      padding-left: 28px;
      padding-right: 40px;
      padding-top: 25px;

      display: block;
      height: 96px;

      position: relative;
    }
  }

  .page-photo__header {
    width: 440px;
    margin: 0 auto;

    margin-top: 100px;
    margin-bottom: 80px;


    font-size: 18px;
    line-height: 30px;
  }

  .user-photo__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-photo__item {
    margin: 0;
    margin-bottom: 20px;
    width: 300px;
    height: 455px;

    &--panorama {
      margin: 0;
      width: 100%;
    }
  }

  .user-photo__like {
    margin: 0;
    width: 240px;
    padding: 0;

    text-align: start;

    &--panorama {
      position: absolute;
      top: 25px;
      right: 30px;
      width: 120px;
    }
  }

  .user-photo__like::before {
    top: 5px;
    right: 0;
    left: auto;
  }

  .user-photo__item-panorama {
    margin-bottom: 50px;
  }

  .user-photo__panorama {
    top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo__header {
    margin-bottom: 93px;
    width: 880px;
  }

  .panorama__wrapper {
    width: 940px;
    margin: 0 auto;
    margin-top: -7px;
  }

  .user-photo__wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-photo__item {
    margin-bottom: 54px;
    height: 555px;
  }

  .user-photo__item-panorama {
    margin-bottom: 50px;
  }

  .user-photo__panorama {
    top: 54px;
  }
}